@import '../../variables';

.start{
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-areas: 	"head-start 	head 		head-end"
							"content-start 	content 	content-end"
							"footer-start 	footer 		footer-end";

	&__team{
		&_one{
			grid-area: head;
		}

		&_two{
			grid-area: footer;
		}
	}

	&__team-preview{
		&_one{
			grid-area: content-start;
		}

		&_two{
			grid-area: content-end;
		}
	}

	&__table{
		grid-area: content;
		height: 400px;
		width: 450px;
		margin: 0 auto;
	}
}