@import '../../variables';

$team-member-picker-width: 100px;
$team-member-picker-width-double: $team-member-picker-width / 2;
$team-member-picker-border-width: 3px;

.team-member{
	width: $team-member-picker-width;
	margin: 0 auto;

	&_double{
		width: $team-member-picker-width-double;
	}

	&__picker{
		border-radius: 15px;
		height: $team-member-picker-width-double;
		background-color: $color-white;
		border: $team-member-picker-border-width solid $color-grey-darker;
		box-sizing: border-box;
		cursor: pointer;

		&::before{
			@include icon("e9b3");
			color: $color-grey-darker;
			line-height: $team-member-picker-width-double - $team-member-picker-border-width * 2;
			text-align: center;
			font-size: 30px;
			display: block;
			width: 50%;
			float: left;
		}

		&::after{
			@include icon("e9b4");
			color: $color-grey-darker;
			line-height: $team-member-picker-width-double - $team-member-picker-border-width * 2;
			text-align: center;
			font-size: 30px;
			display: block;
			width: 50%;
			float: left;
		}


		&_offence{
			border-radius: 50%;

			&::before{
				width: 100%;
			}

			&::after{
				display: none;
			}
		}

		&_defence{
			border-radius: 50%;

			&::after{
				width: 100%;
			}

			&::before{
				display: none;
			}
		}
	}
}