@import '../../variables';

$team-member-picker-width: 100px;
$team-member-picker-width-double: $team-member-picker-width / 2;
$team-member-picker-border-width: 3px;

.team-member{
	width: $team-member-picker-width;
	margin: 0 auto;
	position: relative;

	&_double{
		width: $team-member-picker-width-double;
	}

	&__users{
		position: absolute;
		left: calc(100% - 3px);
		top: 0;
		z-index: 3; 
		background-color: $color-white;
		border: $team-member-picker-border-width solid $color-grey-darker;
		border-radius: 15px;
		border-top-left-radius: 0;

		@include when-inside(".team-member_picked"){
			background-color: $color-grey-darker;
			border-color: $color-lime;
		}
	}

	&__user{
		padding: $padding-small $padding-medium;
		cursor: pointer;

		&-name{
			color: $color-grey-darker;
			line-height: 30px - $team-member-picker-border-width * 2;
			border-radius: 15px;
			text-align: center;
			padding: 0 $padding-small;

			@include when-inside(".team-member_picked"){
				color: $color-lime;
			}
		}

		&:hover{
			.team-member__user-name{
				color: $color-lime;
				background-color: $color-grey-dark;
			}
		}
	}

	&__picker{
		position: relative;
		z-index: 4;
		border-radius: 15px;
		height: $team-member-picker-width-double;
		background-color: $color-white;
		border: $team-member-picker-border-width solid $color-grey-darker;
		box-sizing: border-box;
		cursor: pointer;

		@include when-inside(".team-member_picking"){
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
			border-right: none;
			padding-right: $team-member-picker-border-width;
		}

		&::before{
			@include icon("e9b3");
			color: $color-grey-darker;
			line-height: $team-member-picker-width-double - $team-member-picker-border-width * 2;
			text-align: center;
			font-size: 30px;
			display: block;
			width: 50%;
			float: left;
		}

		&::after{
			@include icon("e9b4");
			color: $color-grey-darker;
			line-height: $team-member-picker-width-double - $team-member-picker-border-width * 2;
			text-align: center;
			font-size: 30px;
			display: block;
			width: 50%;
			float: left;
		}

		@include when-inside(".team-member_picked"){
			background-color: $color-grey-darker;
			border-color: $color-lime;
			
			&::before,
			&::after{
				color: $color-lime;
			} 
		}

		&_offence{
			border-radius: 50%;

			&::before{
				width: 100%;
			}

			&::after{
				display: none;
			}
		}

		&_defence{
			border-radius: 50%;

			&::after{
				width: 100%;
			}

			&::before{
				display: none;
			}
		}
	}
}