@import '../../variables';

.user-list{
	border: 1px solid $color-lime;
	padding: $padding-medium;

	&__head{
		color: $color-lime;
		display: grid;
		grid-template-columns: repeat(2, 50%);
	}
}