@import '../../variables';

.tournament{
	margin-bottom: $padding-small;
	border-radius: 15px;
	background-color: $color-white;
	border: 3px solid $color-grey-darker;
	color: $color-grey-darker;
	cursor: pointer;
	padding: $padding-small;
	text-align: center;
	user-select: none;

	&:hover{
		background-color: $color-grey-darker;
		border-color: $color-lime;
		color: $color-lime;
	}
}