@import '../../variables';

.navigation{
	position: fixed;
	left:0;
	top:0;
	width: $navigation-width;
	height: calc(100% - #{$padding-medium} * 2);
	background-color: grey;
	padding: $padding-medium 0;
}